<mat-toolbar>
  <span>Kapcsolat</span>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
  <div>
    <p fxLayout="row" fxLayoutAlign="start center"><mat-icon fontIcon="person"></mat-icon> Nagy Aladár</p>
    <p fxLayout="row" fxLayoutAlign="start center"><mat-icon fontIcon="home"></mat-icon> 1234 Autokölcsönző utca 44.</p>
    <p fxLayout="row" fxLayoutAlign="start center"><mat-icon fontIcon="call"></mat-icon> +36-20/550-6572</p>
    <p fxLayout="row" fxLayoutAlign="start center"><mat-icon fontIcon="mail"></mat-icon> info@superautokolcsonzo.com</p>
  </div>
  <div>
    <iframe
    class="embed-responsive"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25814.144397723034!2d-65.72162208381317!3d66.14801315010556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4e7fc97cae917119%3A0x9dfe028776694eb9!2sPangnirtung%2C%20Nunavut%2C%20Kanada!5e0!3m2!1shu!2shu!4v1663708017662!5m2!1shu!2shu"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  </div>
</div>

