<div class="home" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center">
  <section>
    <mat-card class="card" matRipple routerLink="/login" >
      <mat-card-header>
        <mat-card-title>Online foglalás</mat-card-title>
        <mat-card-subtitle>Már online is lefoglalhatod bérautód</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/img/onlinebooking.jpg" alt="Online booking">
      <mat-card-content>
        <p>
          Megújult weboldalunknak hála autókölcsönzés sosem volt ilyen egyszerű. Csak regisztrálj oldalunkon, válaszd ki a neked legmegfelelőbb autót és jegyezd elő.
      </p>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </section>
  <section>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Legjobb ajánlatok</mat-card-title>
        <mat-card-subtitle>Hetente frissülő akciókkal jelentkezünk</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/img/discountCars.jpg" alt="Discount cars">
      <mat-card-content>
        <p>
          Számos járművünk árát csökkentettük, hogy megfeleljünk elvárásaidnak.
        </p>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </section>
  <section>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Újonnan érkezők akciója</mat-card-title>
        <mat-card-subtitle>-10% ha most regisztrálsz</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/img/newcomers.jpg" alt="Discount for newcomers">
      <mat-card-content>
        <p>
        Regisztrálj most és első foglalásod árából 10%-ot elengedünk.
        </p>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </section>
</div>
