/* You can add global styles to this file, and also import other style files */

html,
/* body {
  height: 100%;
} */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* .mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

::ng-deep .redNoMatch {
  color: white;
  background: #f44336 !important;
}

.mycsssnackbartest {
  background-color: blue;
}
 */
