mat-toolbar {
  height: auto;
  padding-top: 1rem;
}

.footer__container {
  width: 100%;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: white;
}

mat-icon {
  margin-right: 0.3rem;
}

p {
  margin-bottom: 0;
  color: white;
}
