<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" >
    <mat-form-field >
      <mat-label>Felhasználónév</mat-label>
      <input
      name="username"
      type="text"
      matInput placeholder="A Te felhasználóneved"
      ngModel
      required
      #userInput = "ngModel">
      <mat-error *ngIf="userInput.hasError('required')">Mező kitöltése kötelező!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input
      name="password"
      type="password"
      matInput
      placeholder="A te jelszavad"
      ngModel
      required
      minlength="6"
      maxlength="15"
      #password="ngModel">
      <mat-error *ngIf="userInput.hasError('required')">Mező kitöltése kötelező!</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Küldés</button>
  </form>
</section>
